<div class="panel panel-default">
  <div class="panel-heading" ng-click="toggleView('newspec')" role="button">
    New Specs {{getLength(newSpecs)}}
  </div>
  <div class="panel-body table-responsive" ng-show="view.newspec">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Count</th>
          <th>Key</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in newSpecs">
          <td>
            {{$index+1}}
          </td>
          <td>
            {{key}}
          </td>
          <td>
            {{value.default}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading" ng-click="toggleView('removedSpec')" role="button">
    Deleted Specs {{getLength(deletedSpecs)}}
  </div>
  <div class="panel-body" ng-show="view.removedSpec">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Count</th>
          <th>Key</th>
          <th>Default</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in deletedSpecs">
          <td>
            {{$index+1}}
          </td>
            <td>
            {{key}}
          </td>
          <td>
            {{value.default}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"  ng-click="toggleView('modifiedSpec')" role="button">
    Modified Specs  {{getLength(modifiedSpecs)}}
  </div>
  <div class="panel-body" ng-show="view.modifiedSpec">
    <table class="table table-striped table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Key</th>
          <th>Previous Default</th>
          <th>Latest Default</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in modifiedSpecs">
          <td>
            {{key}}
          </td>
          <td>
            {{value.previousSpec.default || "NIL"}}
          </td>
          <td>
            {{value.latestSpec.default || "NIL"}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
