<form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Release</label>
    <div class="col-sm-5">
      <select class="form-control text-center" ng-model="currentRelease">
        <option ng-repeat="release in releases"
               value="{{release}}">
         {{release}}
       </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Previous Release</label>
    <div class="col-sm-5">
      <select class="form-control text-center" ng-model="previousRelease">
        <option ng-repeat="(version, specfile)  in versions"
               value="{{version}}">
         {{version}}
       </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Latest Release</label>
    <div class="col-sm-5">
      <select class="form-control text-center" ng-model="latestRelease">
        <option ng-repeat="(version, specfile)  in versions"
               value="{{version}}">
         {{version}}
       </option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
      <button ng-click="compare()" type="submit" class="btn btn-primary">Compare</button>
    </div>
  </div>
</form>

<div class='text-center form-group'>
    This App uses github API to get the releases from <a href="https://github.com/sks/specs" target="_blank">This Repo</a><br>
    There is a rate limit of 60 Requests per 60 mins. Check <a href="https://developer.github.com/v3/rate_limit/" target="_blank">this</a> for more details.<br/>
    You can always cookup the URL like <code>http://spiff.cfapps.io/#/repos/cf-release/v236/v237</code> to compare cf-releases
</div>
